body{
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #eee;
}

nav{
	background-color: #1C9AD6;
}

.brand-logo{
    margin-left: 25px;
}

#nav-mobile{
    margin-right: 25px;
}

.button-collapse{
    margin-left: 25px;
}

.btn, .btn-large{
    background-color: #1C9AD6;
}

.btn:hover, .btn-large:hover{
    background-color: #1770B2;
}

.fixed-action-btn.horizontal{
    bottom: 25px !important;
    right: 25px !important;
}

.btn-floating .btn-large{
    background-color: #1C9AD6;
}

.btn-share{
    background-color: #1770B2;
}

.btn-floating:hover .btn-share{
    background-color: #1770B2;
}

h1{
    font-size: 3.2rem; 
	margin-top: 250px;
}

h2{
    font-size: 2.56rem; 
}

h3{
    font-size: 1.92rem; 
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
	color: #1C9AD6;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover{
	color: #1770B2;
}

.card .card-content p{
	color: #888;
}

footer.page-footer{
    margin-top: -20px;
    padding-top: 0;
	background-color: #1C9AD6;
}

.parallax-container {
  height: 93vh;
}

.material-icons{
	color: #fff;
	font-size: 64px;
}

.s2 img {
	max-width: 100%;
	max-height: 70px;
}

.swiper-container {
    height: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    line-height: 300px;
}

.swiper-slide .card{
    margin:0;
    transition:0;
}

@media screen and (max-width: 992px){
    .brand-logo{
        margin-left: 0;
    }
}